body {
  background-color: lightblue;
}

nav button {
  background: content-box;
  margin: 10px 10px;
  width: 5rem;
  height: 2rem;
  opacity: 1;
}

nav button:hover {
  cursor: pointer;
  font-weight: 900;
}

#content {
  display: flex;
  flex-direction: column;
}
